<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>EntryWarp</title>
    <script src="/static/modules/pixi.min.js"></script>
    <script src="/static/pixer.js"></script>
    <script src="/static/compile.js"></script>
    <script src="/static/postapi.js"></script>
    <script src="/static/setuppage.js"></script>
    <link rel="icon" href="/static/favicon-32x32.png" />
</head>
<body>
    <script>
        setupPage.load();
    </script>
</body>
</html>
